 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 :root {
    --primary-color : #337ab7;
 }

 .mycontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    flex-direction: column;
    gap: 100px;

 }
 
 .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 80vw;
    border: 1px solid var(--primary-color);   
border-radius: 5px;
 }

 .display-wrapper {
    flex-direction: column;
 }

 .display-container {
    padding: 20px;
    width: 100%;
 }

 
 .wrapper2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 20px;
    width: 80vw;
 
    gap: 10px 0px;
 }


.tableTitle {
     
    background-color: var(--primary-color);
    padding: 10px;
    margin: 0;
     color: white;
     width: 100%;
     display: flex;
    
 }


 .error-msg {
    color: red;
    font-weight: 600;
    
 }

 .btn {
   
    padding: 5px 12px;
    border: none;
    background-color: var(--primary-color);
    color: white;
 }

 table {
    width: 100%;
    border-collapse: collapse;
 }

 th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
 }

 th {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
 }

 tbody tr:nth-child(even) {
    background-color: #f9f9f9;
 }
